.document_maker_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}
.document_maker_wrapper .document_menus{
    width: 21.5%;
    height: 60vh;
    /* background-color: #f8f8f8; */
    border-right: 1px solid #e3e3e3;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.document_maker_wrapper .document_body .comments_wrapper.bordered{
    border-top: 1px solid #dddddd;
}
.document_maker_wrapper .document_menus::-webkit-scrollbar,
.document_maker_wrapper .document_body .comments_wrapper .comments::-webkit-scrollbar{
    width: 8px;
}
.document_maker_wrapper .document_menus::-webkit-scrollbar-track,
.document_maker_wrapper .document_body .comments_wrapper .comments::-webkit-scrollbar-track{
    background: #d8d8d8;
}

.document_maker_wrapper .document_menus::-webkit-scrollbar-thumb,
.document_maker_wrapper .document_body .comments_wrapper .comments::-webkit-scrollbar-thumb{
    background: #b5b5b5;
    transition: .2s ease-in;

}
.document_maker_wrapper .document_menus::-webkit-scrollbar-thumb:hover,
.document_maker_wrapper .document_body .comments_wrapper .comments::-webkit-scrollbar-thumb:hover{
    background: #9d9d9d;
}

.document_maker_wrapper .document_menus .menu{
    cursor: pointer;
    padding: 10px 12px 3px 10px;
    transition: .2s ease-in-out;
    position: relative;
}

.document_maker_wrapper .document_menus .menu.active{
    background-color: #e5e5e5 !important;
}
.document_maker_wrapper .document_menus .menu p{
   text-align: left;
   overflow: hidden;
}

.document_maker_wrapper .document_menus .menu:hover{
    background-color: rgb(238, 238, 238);
}
.document_maker_wrapper .document_menus .menu .dot{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc4242;
    transform: translateY(-50%);
}

.document_maker_wrapper .document_body{
    height: 100vh;
    width: 79.5%;
    padding: 10px 5px;
}
.document_maker_wrapper .document_body.empty{
    padding: 0;
}
.document_maker_wrapper .document_body .files{
    display: flex;
    align-items: center;
    padding: 0px 5px 18px;
    margin-top: 10px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
}

.document_maker_wrapper .document_body .files::-webkit-scrollbar,
.document_maker_wrapper .document_body .comments_wrapper .comments::-webkit-scrollbar{
    height: 6px;
}

.document_maker_wrapper .document_body .files::-webkit-scrollbar-thumb,
.document_maker_wrapper .document_body .comments_wrapper .comments::-webkit-scrollbar-thumb{
    background-color: #a4a4a4;
    border-radius: 10px;
}

.document_maker_wrapper .document_body .files::-webkit-scrollbar-track,
.document_maker_wrapper .document_body .comments_wrapper .comments::-webkit-scrollbar-track{
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
}

.document_maker_wrapper .document_body .files .file{
    transition: .2s ease-in-out;
    background-color: #e7e7e7;
    margin: 0px 5px;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 13px;
    position: relative;
    cursor: pointer;
}

.document_maker_wrapper .document_body .files .file #tooltip{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: rgb(114, 114, 114);
    color: #f1f1f1;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 7px;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease;
}

.document_maker_wrapper .document_body .files .file #tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    border: 15px solid;
    border-color: rgb(114, 114, 114) #0000 #0000 #0000;
}

.document_maker_wrapper .document_body .files .file:hover #tooltip{
    top: -170%;
    visibility: visible;
    opacity: 1;
}

.document_maker_wrapper .document_body .files .file:hover{
    background-color: #b3c6ff;
    color: #616161;
}
.document_maker_wrapper .document_body .files .file .document_title{
    width: 100px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
}

.document_maker_wrapper .document_body .files .file .open_file{
    cursor: pointer;
    transition: .2s ease-in-out;
}

.document_maker_wrapper .document_body .files .file .open_file:hover,
.document_maker_wrapper .document_body .comments_wrapper .comment_input i:hover{
    color: #1a4eaf !important;
}

.document_maker_wrapper .document_body .comments_wrapper .comment #profile{
    margin-top: 10px;
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
}


.document_maker_wrapper .document_body .comments_wrapper .comments{
    position: relative;
    width: 100%;
    height: 48vh;
    margin-top: 3px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 15px 20px;
}

.document_maker_wrapper .document_body .comments_wrapper #study_status_wrapper{
    width: 100%;
    padding: 0px 20px;
    margin-top: 10px;
}

.document_maker_wrapper .document_body .comments_wrapper #study_status_wrapper #study_status{
    padding: 5px 0px;
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: 600;
}

.document_maker_wrapper .document_body .comments_wrapper .comments .comment{
    gap: 6px;
    font-size: 13px;
    margin-bottom: 15px;
}

.document_maker_wrapper .document_body .comments_wrapper .comments .comment .info{
    width: 100%;
}
.document_maker_wrapper .document_body .comments_wrapper .comments .comment .info .comment_information{
    width: 100%;
    border-radius: 20px;
    background-color: #f1f1f1;
    padding: 7px 10px 1px;
}

.document_maker_wrapper .document_body .comments_wrapper .comments .comment .info .comment_information span{
    font-weight: 600;
    font-size: 12px !important;
    color: #585858;
}
.document_maker_wrapper .document_body .comments_wrapper .comments .comment .info .comment_information p{
    margin-top: 2px;
}

.document_maker_wrapper .document_body .comments_wrapper .comments .comment .info small{
    float: right;
    margin: 5px 12px 0px 0px;
}

.document_maker_wrapper .document_body .comments_wrapper .comment_input{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    padding: 0px 20px 0px 10px;
}

.document_maker_wrapper .document_body .comments_wrapper .comment_input textarea{
    resize: none;
}

.document_maker_wrapper .document_body .comments_wrapper .comment_input button{
    outline: none;
    border: none;
    background-color: transparent !important;
}

.document_maker_wrapper .document_body .comments_wrapper .comment_input button i{
    cursor: pointer;
    transition: .2s ease-in-out;
}

.document_maker_wrapper .document_body .comments_wrapper .loading{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.document_maker_wrapper .document_body .comments_wrapper .loading img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%); 
}