.document_maker_wrapper{
    width: 100%;
    height: 100%;
    display: flex;
}
.document_maker_wrapper .document_menus{
    width: 21.5%;
    height: 80vh;
    background-color: #f8f8f8;
    border-right: 1px solid #e3e3e3;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
.document_maker_wrapper .document_menus::-webkit-scrollbar{
    width: 8px;
}
.document_maker_wrapper .document_menus::-webkit-scrollbar-track{
    background: #d8d8d8;
}

.document_maker_wrapper .document_menus::-webkit-scrollbar-thumb{
    background: #b5b5b5;
    transition: .2s ease-in;

}
.document_maker_wrapper .document_menus::-webkit-scrollbar-thumb:hover{
    background: #9d9d9d;
}

.document_maker_wrapper .document_menus .menu{
    cursor: pointer;
    padding: 10px 12px 3px 10px;
    transition: .2s ease-in-out;
    position: relative;
}

.document_maker_wrapper .document_menus .menu.active{
    background-color: #d3d3d3 !important;
}
.document_maker_wrapper .document_menus .menu p{
   text-align: left;
   overflow: hidden;
}

.document_maker_wrapper .document_menus .menu:hover{
    background-color: #eaeaea;
}
.document_maker_wrapper .document_menus .menu .dot{
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #fc4242;
    transform: translateY(-50%);
}

.document_maker_wrapper .document_body{
    height: 100vh;
    width: 79.5%;
    padding: 10px 5px;
}
.document_maker_wrapper .document_body.empty{
    padding: 0;
}
.document_maker_wrapper .document_body .files{
    display: flex;
    align-items: center;
    padding: 0px 5px 18px;
    margin-top: 10px;
    overflow-x: auto;
    position: relative;
}

.document_maker_wrapper .document_body .files::-webkit-scrollbar{
    height: 6px;
}

.document_maker_wrapper .document_body .files::-webkit-scrollbar-thumb{
    background-color: #a4a4a4;
    border-radius: 10px;
}

.document_maker_wrapper .document_body .files::-webkit-scrollbar-track{
    background-color: rgb(201, 201, 201);
}

.document_maker_wrapper .document_body .files .file{
    transition: .2s ease-in-out;
    background-color: #e7e7e7;
    margin: 0px 5px;
    padding: 5px 8px;
    border-radius: 5px;
    font-size: 13px;
}

.document_maker_wrapper .document_body .files .file:hover{
    background-color: #dedede;
}
.document_maker_wrapper .document_body .files .file .document_title{
    width: 100px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical; 
}

.document_maker_wrapper .document_body .files .file .open_file{
    cursor: pointer;
    transition: .2s ease-in-out;
}

.document_maker_wrapper .document_body .files .file .open_file:hover,
.document_maker_wrapper .document_body .comments_wrapper .comment_input i:hover{
    color: #1a4eaf !important;
}

.document_maker_wrapper .document_body .comments_wrapper{
    padding: 10px 15px;
}

.document_maker_wrapper .document_body .comments_wrapper .comments{
    position: relative;
    width: 100%;
    height: 50vh;
    background-color: #f6f5f5;

}

.document_maker_wrapper .document_body .comments_wrapper .comment_input{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-top: 8px;
}

.document_maker_wrapper .document_body .comments_wrapper .comment_input textarea{
    resize: none;
}

.document_maker_wrapper .document_body .comments_wrapper .comment_input i{
    cursor: pointer;
    transition: .2s ease-in-out;
}

.document_maker_wrapper .document_body .comments_wrapper .loading{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    
}

.document_maker_wrapper .document_body .comments_wrapper .loading img{
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%); 
}