.drafter_log_wrapper{
    width: 100%;
    height: 100%;
}
.drafter_log_wrapper input#log_filter{
    width: 275px;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper{
    position: relative;
    width: 100%;
    height: 60vh;
    overflow-y: auto;
    border-bottom: 1px solid #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper::-webkit-scrollbar-track{
    background: #d8d8d8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper::-webkit-scrollbar-thumb{
    background: rgb(182, 182, 182);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper::-webkit-scrollbar-thumb:hover{
    background: rgb(193, 193, 193);
}


.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies{
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: auto;
}
.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies tr td{
    padding: 0;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies tr.mounted{
    transition: .2s ease-in;
    cursor: pointer;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies tr.mounted:hover{
    background-color: #e5e5e5 !important;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies thead tr th{
    width: 1px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid #a9a9a9;
    font-size: 12px !important;
    cursor: default;
    transition: .2s ease-in;
    background-color: #d3d3d3 !important;
}
.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies thead tr th:hover{
    background-color: #e5e5e5 !important;
}

.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies tbody tr{
    border: 1px solid #a9a9a9;
    transition: .2s ease-in;
    font-size: 13px;
    cursor: zoom-in !important;
}
.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies tbody tr:hover,
.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies tbody tr.fetch_logs.selected{
    background-color: #606060 !important;
    color: #eeeeee;
}
.drafter_log_wrapper .tbl_drafter_log_wrapper #tbl_patent_drafter_studies tbody tr td{
    padding: 0;
    border: 1px solid #a9a9a9 !important;
}