.drafter_studies_wrapper{
    width: 100%;
    height: auto;
}
.drafter_studies_wrapper .drafter_studies_filter input{
    width: 210px;
}
.drafter_studies_wrapper .tbl_drafter_studies_wrapper{
    border: 1px solid #d3d3d3;
    font-size: 13px;
    position: relative;
    width: 100%;
    height: 60vh;
    overflow: auto;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper table{
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper #tbl_patent_drafter_studies tbody tr{
    cursor: default;
    transition: .2s ease-in;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper #tbl_patent_drafter_studies tbody tr:hover{
    background-color: #e5e5e5;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper #tbl_patent_drafter_studies tbody tr i{
    cursor: pointer;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper #tbl_patent_drafter_studies tbody tr i:hover{
    color: #1437b6 !important;
}
.drafter_studies_wrapper .tbl_drafter_studies_wrapper #tbl_patent_drafter_studies tbody tr#tbl_row_placeholder td{
    padding: 0 !important;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper #tbl_patent_drafter_studies tbody tr.studies td{
   border-bottom: 1px solid #dbdbdb;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper::-webkit-scrollbar{
    width: 8px;
    height: 8px;
}

.drafter_studies_wrapper .tbl_drafter_studies_wrapper::-webkit-scrollbar-track{
    background: #d8d8d8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.drafter_studies_wrapper .tbl_drafter_studies_wrapper::-webkit-scrollbar-thumb{
    background: rgb(182, 182, 182);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.drafter_studies_wrapper .tbl_drafter_studies_wrapper::-webkit-scrollbar-thumb:hover{
    background: rgb(193, 193, 193);
}

#modal_drafter_update_doc_modal .modal-dialog .modal-content .modal-body > div .input_wrapper .fa-pencil{
   cursor: pointer;
   transition: .2s ease-in-out;
}

#modal_drafter_update_doc_modal .modal-dialog .modal-content .modal-body > div .input_wrapper .fa-pencil:hover{
   color: #1761d7 !important;
}

#modal_drafter_update_doc_modal .modal-dialog .modal-content .modal-body > div .input_wrapper input{
    cursor: default !important;
}
#modal_drafter_update_doc_modal .modal-dialog .modal-content .modal-body > div .input_wrapper .icon_wrapper i{
    cursor: pointer;
}

#modal_drafter_update_doc_modal .modal-dialog .modal-content .modal-body > div .input_wrapper .icon_wrapper i.btn_save.disable{
    color: #b3b3b4 !important;
    text-decoration: line-through;
    pointer-events: none;
}

