@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow: hidden;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

#message-container span {
    letter-spacing: 1.5px;
    font-size: 14px;
    font-weight: 600;
    text-align: justify;
}


.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.main-container .img-homepage {
    flex: 1;
    width: 100%;
    height: 100vh;
}

.main-container .img-homepage img {
    height: 100%;
    width: 100%;
    object-fit: fill;
}

/* Responsive CSS */
@media only screen and (max-width: 400px) {
    #message-container {
        padding: 10px 25px;
    }
    #message-container.error {
        right: 3%;
    }

    #message-container span {
        font-size: 11px;
    }
}