#message-container {
    position: absolute;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 12px 45px;
    top: 3%;
    right: -50%;
    transition: .4s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

#message-container.error {
    right: 0%;
}

#message-container.success {
    right: 0%;
}

#message-container span {
    border-radius: 5px;
    padding: 15px;
    color: #252525;
    width: 300px;
    background-color: white;
    font-size: 12px;
    letter-spacing: 1px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
    z-index: 999999999999;
}

#message-container span.error {
    border-left: 3px solid #f55f5f;
}

#message-container span.success {
    border-left: 3px solid #5b9932;
}

/* Responsive CSS */

@media only screen and (max-width: 400px) {
    #message-container span {
        width: 250px;
    }

    #message-container.error {
        right: -7%;
    }

    #message-container.success {
        right: -7%;
    }
}