.register-container {
    width: 100%;
    height: 100vh;
    border-right: 1px solid #e4e4e4;
    display: flex;
}

.register-container .display-img {
    flex: 1;
    position: relative;
}

.register-container .display-img::before {
    content: " ";
    position: absolute;
    top: 0%;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
}

.register-container .display-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register-container .form-register {
    transition: .3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.register-container .form-register .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 0px 10px;
    margin-top: 25px;
}

.register-container .form-register .logo .img-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #038cfc;
}

.register-container .form-register .logo h1 {
    font-size: 19px;
    width: 50%;
    text-align: center;
    color: #038cfc;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
}

.register-container .form-register span.sign-up {
    margin: 0px 0px 0px 22px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3a3a3a
}

.register-container .form-register form {
    padding: 30px 60px;
    display: flex;
    gap: 20px;
    justify-content: flex-end;
    flex-direction: column;
}

.register-container .form-register form .form-input {
    position: relative;
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: space-evenly;
    transition: .3s ease-in-out;
}

.register-container .form-register form .form-input i {
    color: #535353
}

.register-container .form-register form .form-input i.focused {
    color: #046cc0
}

.register-container .form-register form .form-input span {
    position: absolute;
    pointer-events: none;
    font-size: 13px;
    top: 18%;
    transition: .2s ease-in-out;
}

.register-container .form-register form .form-input span.focused {
    top: -60%;
    color: #046cc0
}

.register-container .form-register form .form-input .input{
    position: relative;
}

.register-container .form-register form .form-input i#toggle-icon {
    position: absolute;
    right: 4%;
    cursor: pointer;
    color: #838383;
    transition: .3s ease-in-out;
    background-color: white;
}

.register-container .form-register form .form-input i#toggle-icon:hover {
    color: #252525;
}

.register-container .form-register form .form-input input,
.register-container .form-register form .form-input select {
    outline: none;
    border: none;
    font-size: 14px;
    border-bottom: 1px solid #3a3a3a;
    padding: 3px 0px;
    width: 320px;
    background-color: white;
    letter-spacing: 1px;
    transition: .2s ease-in-out;
}

.register-container .form-register form .form-input input:focus,
.register-container .form-register form .form-input select:focus {
    border-color: #046cc0;
}

.register-container .form-register form button {
    margin: 5px 0px 20px;
    font-size: 13px;
}

.register-container .form-register form button i#spinner {
    margin-right: 2px;
    opacity: 0;
}

.register-container .form-register form button i#spinner.load {
    opacity: 1;
}

.register-container .form-register span.sign-in {
    font-size: 13.5px;
    margin: 0px 0px 0px 60px
}


/* Responsive CSS */

@media only screen and (max-width: 1024px) {
    html {
        overflow-y: auto;
    }
}


@media only screen and (max-width: 768px) {
    html {
        overflow-y: auto;
    }

    .register-container {
        border: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .register-container .display-img {
        display: none;
    }

    .register-container .form-register {
        display: flex;
        flex: 1;
        gap: 25px;
        flex-direction: column;
        align-items: center;
    }

    .register-container .form-register form .form-input input,
    .register-container .form-register form .form-input select {
        width: 275px;
    }

    .register-container .form-register span.sign-in {
        margin: 0px
    }

    .register-container .form-register span.sign-up {
        margin: 0px;
    }
}

@media only screen and (max-width: 400px) {
    html{
        overflow: auto;
    }
    .register-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .register-container .form-register .logo h1 {
        width: 70%;
    }

    .register-container .form-register {
        display: flex;
        flex: 1;
        gap: 10px;
        flex-direction: column;
        align-items: center;
        padding: 15px 0px;
    }

    .register-container .form-register span.sign-up {
        margin: 0px;
        font-size: 16px;
    }

    .register-container .form-register .logo {
        margin-top: 0px;
    }

    .register-container .form-register .logo .img-logo {
        width: 80px;
        height: 80px;
    }

    .register-container .form-register form .form-input {
        gap: 5px
    }
}