.documents_wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
}

.documents_wrapper .table_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px 25px;
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.documents_wrapper .table_wrapper .search_options {
    display: flex;
    margin-top: 35px;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.documents_wrapper .table_wrapper table {
    font-size: 13px;
}

.documents_wrapper .table_wrapper .search_options .filter_wrapper {
    display: flex;
    gap: 15px;
    align-items: center;
}

.documents_wrapper .table_wrapper .search_options .filter_wrapper .legends {
    display: flex;
    align-items: center;
    gap: 10px;
}

.documents_wrapper .table_wrapper .search_options .filter_wrapper .legends .box_wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
}

.documents_wrapper .table_wrapper .search_options .filter_wrapper .legends .box_wrapper .box {
    width: 11px;
    height: 11px;
}

.documents_wrapper .table_wrapper .search_options .filter_wrapper .legends .box_wrapper span {
    font-size: 12px;
    font-weight: 600;
}

.documents_wrapper .table_wrapper .search_options .filter_wrapper #textfield_document_type {
    width: 225px;
    font-size: 13px;
}

.documents_wrapper .table_wrapper .search_options .filter_wrapper #document_type {
    outline: none;
    border: none;
    letter-spacing: .5px;
    width: auto;
    border-bottom: 1px solid #535353;
}

.documents_wrapper .table_wrapper .table_render_wrapper {
    width: 100%;
    height: 60vh;
    position: relative;
    overflow: auto;
    border: 1px solid #d8d8d8;
}

.documents_wrapper .table_wrapper .table_render_wrapper::-webkit-scrollbar {
    width: 8px;
}

.documents_wrapper .table_wrapper .table_render_wrapper::-webkit-scrollbar-track {
    background: #d8d8d8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.documents_wrapper .table_wrapper .table_render_wrapper::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.documents_wrapper .table_wrapper .table_render_wrapper::-webkit-scrollbar-thumb:hover {
    background: rgb(193, 193, 193);
}

.documents_wrapper .table_wrapper .table_render_wrapper table {
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: auto;
}

.documents_wrapper .table_wrapper .table_render_wrapper table td {
    padding: 0;
    border-bottom: 1px solid rgb(188, 188, 188);
}

.documents_wrapper .table_wrapper .table_render_wrapper table #tbl_body_documents tr.studies {
    transition: .2s ease-in;
    cursor: default;
}

.documents_wrapper .table_wrapper .table_render_wrapper table #tbl_body_documents tr.studies td i {
    position: relative;
    z-index: 99;
}

.documents_wrapper .table_wrapper .table_render_wrapper table #tbl_body_documents tr.studies:hover,
.documents_wrapper .table_wrapper .table_render_wrapper table #tbl_body_documents tr.studies.active {
    background-color: #b7d3ff !important;
}

.documents_wrapper .table_wrapper .table_render_wrapper table tbody #tbl_row_placeholder.hide {
    display: none;
}

.documents_wrapper .table_wrapper .table_render_wrapper table #tbl_body_documents .studies.filtered {
    display: none;
}


/* #modal_document .modal-dialog .modal-content .modal-body  */

.college {
    padding: 6px 12px;
    width: 100%;
    height: 34px;
    transition: .2s ease-in-out;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #FFF;
    cursor: default !important;
    position: relative;
    display: flex;
    flex-direction: column;
}

.college #caret {
    position: absolute;
    right: 1.2%;
    font-size: 18px;
    color: #353535 !important;
}

.college .college_text {
    outline: none;
    border: none;
    width: 100%;
    cursor: default;
}

.college .college_option {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: auto;
    background-color: #FFF;
    border: 1px solid #7e7d7d;
    max-height: 25rem;
    overflow-y: auto;
    z-index: 99;
}

.college .college_option .college_item {
    cursor: pointer;
    transition: .2s ease-in-out;
}

.college .college_option .college_item:hover {
    background-color: #e9e9e9;
}

.college .college_option .college_item.selected {
    background-color: #d4d4d4;
}

.college .college_option button#btn_create_item {
    transition: .2s ease-in-out;
    background: #3895d3;
    border-radius: 0px;
    outline: none;
    border: none;
    border-bottom: 1px solid #767676;
}

.college .college_option button#btn_create_item:hover {
    background: #2172a8;
}

div.photo_wrapper {
    position: relative;
}

div#photo_wrapper #btn_upload_photos {
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in-out;
    padding: 6px 10px;
    width: 100%;
    background-color: #f1f0f0;
    text-align: center;
    letter-spacing: 1px;
    color: #6d6d6d;
    font-size: 13px;
}

div#photo_wrapper #btn_upload_photos:hover {
    background-color: #e6e6e6;
}

div#photo_view_container {
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: auto;
}

div#photo_view_container::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

div#photo_view_container::-webkit-scrollbar-track {
    background: #d8d8d8;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#photo_view_container::-webkit-scrollbar-thumb {
    background: rgb(182, 182, 182);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

div#photo_view_container #render_photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 4px;
    position: absolute;
    top: 0;
}

div#photo_view_container #render_photos img.preview {
    width: 102px;
    height: 100px;
    object-fit: cover;
    margin: 5px;
    border: 1px solid #d4d4d4;
    border-radius: 3px;
}